* text=auto eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.gitignore text eol=lf

# Binary files
*.dll binary
*.lib binary
*.exp binary
*.ico binary
*.png binary
